.auth-button {
  width: 400px;
  height: 80px;
  /* background-color: #00a1e5 !important; */
  font-weight: 400;
  font-size: 32px !important;
  line-height: 38px;
}

.auth-button:disabled {
  background-color: #aeaeae !important;
}
